
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* evita scroll horizontal */
  
}

body {
  background-color: white;
  margin: 0;
  font-family: 'SF Distant Galaxy', sans-serif;
  color: #222;
}

/* Contenedor general de tu p치gina */
body {
  margin: 0;
  display: flex;
  justify-content: center; /* centra en pantallas grandes */
}

#page-wrapper {
  width: 1920px;       /* dise침o base */
  transform-origin: top center;
}

/* Escalar seg칰n el ancho de la pantalla */
@media (max-width: 1920px) {
  .page-wrapper {
    transform: scale(calc(100vw / 1920));
  }
}

/* Overlay mensaje horizontal */
/* siempre oculto de entrada */
#rotateMessage {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.85);
  color: white;
  z-index: 9999;
}

#rotateMessage .message-box {
  background: rgba(0, 0, 0, 0);
  padding: 20px 30px;
  border-radius: 12px;
  font-size: 4rem;
  max-width: 800px;
  line-height: 1.5;
}

.phone-icon {
  width: 80px;
  height: 150px;
  margin: 0 auto 20px;
  position: relative;
  border: 5px solid #ffffff;   /* fuerza blanco absoluto */
  border-radius: 16px;
  background: #111;            /* agrega fondo oscuro al cuerpo del tel칠fono */
  box-sizing: border-box;
  animation: rotatePhone 3s infinite ease-in-out;
}

.phone-icon .screen {
  position: absolute;
  top: 10%;
  left: 8%;
  width: 84%;
  height: 75%;
  background: #ffffff;        /* pantalla bien visible */
  border-radius: 8px;
}
/* Animaci칩n de rotar vertical -> horizontal */
@keyframes rotatePhone {
  0% { transform: rotate(0deg); }
  40% { transform: rotate(90deg); }
  60% { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
}

.content {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.6em;
}

#portfolio-wrapper {
  width: 1920px;   /* tu base de dise침o */
  height: 1080px;  /* tu base de dise침o */
  position: relative;
  transform-origin: top left;
}

body {
  margin: 0;
  background: #000;
  overflow-x: hidden; /* evita scroll horizontal */
}


/* Preloader */
#preloader {
  position: fixed;
  inset: 0;
  background: #0a0a0a; /* fondo oscuro mientras carga */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* encima de todo */
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#preloader .loader {
  width: 60px;
  height: 60px;
  border: 6px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

#progress-text{
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  opacity: 0.8;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* cuando ya carg칩 */
#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

#model-wrapper {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}

#progress-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 999;
}

.mi-video {
  position: absolute;  
  top: 7030px;      
  left: 76.1%;            
  width: auto;
  height: 550px;      
  transform: translate(-50%, -20%); 
  z-index: 1;          
}

.mi-videochime {
  position: absolute;  
  
  top: 5950px;          
  left: 82%;           
  width: auto;
  height: 600px;       
  transform: translate(-50%, -20%);
  z-index: 1;         
}

.Fondo-Inicio{
  position: absolute;
  top: 0%;
  left: 0%;
  width: auto;
  height: 300px; 
  z-index: 0;
}

.Titul{
  position: absolute;
  top: 70%;                 /* baja hasta la mitad */
  left: 32.5%;                /* se coloca desde la mitad */
  transform: translate(-50%, -50%); /* corrige en X y Y */
  width: 800px;
  height: auto; 
  z-index: 1;
  filter: invert();
  mix-blend-mode:screen;
  
  transition: 0.5s ease;
}

.Titulo{
  position: absolute;
  top: 70%;                 /* baja hasta la mitad */
  left: 32.5%;                /* se coloca desde la mitad */
  transform: translate(-50%, -50%); /* corrige en X y Y */
  width: 800px;
  height: auto; 
  z-index: 1;
  filter: invert();
  mix-blend-mode:screen;
  
  transition: 0.5s ease;
}

@keyframes golpeO {
  0%   { transform: translate(-50%, -50%) translateX(0); }
  20%  { transform: translate(-50%, -50%) translateX(-8px); }
  40%  { transform: translate(-50%, -50%) translateX(6px); }
  60%  { transform: translate(-50%, -50%) translateX(-4px); }
  80%  { transform: translate(-50%, -50%) translateX(2px); }
  100% { transform: translate(-50%, -50%) translateX(0); }
}

.Titulo.golpe {
  animation: golpeO 0.6s ease;
}
/* 
.Titulo:hover{
  transform: translate(-50%, -50%) scale(1.015) rotate(1.5deg);
}
  */

.threedartist{
  position: absolute;
  top: 250%;                 /* baja hasta la mitad */
  left: 20%;                /* se coloca desde la mitad */
  transform: translate(-50%, -50%); /* corrige en X y Y */
  width: 350px;
  height: auto; 
  z-index: 1;
  filter: invert();
  mix-blend-mode:screen;
  transition: 0.5s ease;
  
}
.threedartist:hover{
  transform: translate(-50%, -50%) scale(1.015) rotate(-1.5deg);
}

.LunaSol {
      position: absolute;
      top: 60px;
      left: 95%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: auto;
      
      filter: invert(); /* base: "oscurecido" */
      cursor: pointer;
      mix-blend-mode:difference;
      transition: filter 0.3s, transform 0.3s;
      
      z-index: 10;
    }

.LunaSol:hover {
  mix-blend-mode:normal ;
  filter:contrast(100%);
  transform: translate(-50%, -50%) scale(1.6) rotate(120deg);
  transition: 0.5s ease;
}

#themeVideo {
  transition: opacity 2s ease;
}

img {
  transition: opacity 0.5s ease; /* cualquier imagen tendr치 fade */
}

video {
  transition: opacity 0.5s ease; /* cualquier imagen tendr치 fade */
}
 
.ValeFoto{
  position: absolute;
  top: -1%;                 /* baja hasta la mitad */
  left: -10%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 600px;
  height: auto; 
  mix-blend-mode:luminosity;
  z-index: 12;
  pointer-events: none;
}

.SobremiText{
  position: absolute;
  top: 30px;                 /* baja hasta la mitad */
  left: 2%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 1820px;
  height: auto; 
  z-index: 10;
  transition: filter 1.5s ease;
  transition: ease 1s;
  border-radius: 12px;
}
.SobremiText.light{
  filter:none;
}

.SobremiTexto{
  position: absolute;
  top: -150px;                 /* baja hasta la mitad */
  left: 55%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 850px;
  height: auto; 
  mix-blend-mode:luminosity;
  filter:invert(1);
  z-index: 10;
  transition: filter 1.5s ease;
  transition: ease 1s;
}
.SobremiTexto.light{
  filter:invert(0);
}



.Blender{
  position: absolute;
  top: 860px;                 /* baja hasta la mitad */
  left: 23%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 100px;
  height: auto; 
  mix-blend-mode:luminosity;
  z-index: 10;
  transition: filter 1.5s ease;
  transition: ease 0.3s;
}
.Blender:hover{
  transform: translate(0%, 1%) scale(1.2) rotate(-2deg);
}

.estrellas-Blender{
  position: absolute;
  top: 950px;
  left: 23.5%;
  width: 100px;
  opacity: 1;
  mix-blend-mode: luminosity;
  transition: 0.3s ease-in-out;
  transform: scale(1) rotate(0);
  z-index: 15;
}

.habilidades-Blender {
  position: absolute;
  top: 950px;
  left: 23.5%;
  width: 100px;
  opacity: 1;
  mix-blend-mode: luminosity;
  transition: 0.3s ease-in-out;
  transform: scale(0) rotate(-25deg);
  z-index: 15;
}

.habilidades-Blender {
  opacity: 0; /* empieza oculta */
}

.Blender:hover ~ .estrellas-Blender {
  opacity: 0; /* desaparece */
  transform: scale(0) rotate(15deg);
}

.Blender:hover ~ .habilidades-Blender {
  opacity: 1; /* aparece */
  transform: scale(1) rotate(0deg);
}

.Substance{
  position: absolute;
  top: 860px;                 /* baja hasta la mitad */
  left: 34.5%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 90px;
  height: auto; 
  mix-blend-mode:luminosity;
  z-index: 10;
  transition: filter 1.5s ease;
  transition: ease 0.3s;
}
.Substance.light{
  filter:none;
}
.Substance:hover{
  transform: translate(0%, 1%) scale(1.2) rotate(-2deg);
}

.estrellas-Substance{
  position: absolute;
  top: 950px;
  left: 34.3%;
  width: 100px;
  opacity: 1;
  mix-blend-mode: luminosity;
  transition: 0.3s ease-in-out;
  transform: scale(1) rotate(0);
  z-index: 15;
}

.habilidades-Substance {
  position: absolute;
  top: 959px;
  left: 34.3%;
  width: 95px;
  opacity: 1;
  transition: 0.3s ease-in-out;
  mix-blend-mode: luminosity;
  transform: scale(0) rotate(-25deg);
  z-index: 15;
}

.habilidades-Substance {
  opacity: 0; /* empieza oculta */
}

.Substance:hover ~ .estrellas-Substance {
  opacity: 0; /* desaparece */
  transform: scale(0) rotate(15deg);
}

.Substance:hover ~ .habilidades-Substance {
  opacity: 1; /* aparece */
  transform: scale(1) rotate(0deg);
}

.Clip{
  position: absolute;
  top: 850px;                 /* baja hasta la mitad */
  left: 45%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 110px;
  height: auto; 
  mix-blend-mode:luminosity;
  z-index: 10;
  transition: filter 1.5s ease;
  transition: ease 0.3s;
}
.Clip.light{
  filter:none;
}
.Clip:hover{
  transform: translate(0%, 1%) scale(1.2) rotate(-2deg);
}

.estrellas-Clip{
  position: absolute;
  top: 950px;
  left: 45.3%;
  width: 100px;
  z-index: 10;
  opacity: 1;
  mix-blend-mode: luminosity;
  transition: 0.3s ease-in-out;
  transform: scale(1) rotate(0);
}

.habilidades-Clip {
  position: absolute;
  top: 959px;
  left: 45.3%;
  width: 95px;
  z-index: 10;
  opacity: 1;
  mix-blend-mode: luminosity;
  transition: 0.3s ease-in-out;
  transform: scale(0) rotate(-25deg);
}

.habilidades-Clip {
  opacity: 0; /* empieza oculta */
}

.Clip:hover ~ .estrellas-Clip {
  opacity: 0; /* desaparece */
  transform: scale(0) rotate(15deg);
}

.Clip:hover ~ .habilidades-Clip {
  opacity: 1; /* aparece */
  transform: scale(1) rotate(0deg);
}

.EchoesTitle{
  position: absolute;
  top: 2150px;                 /* baja hasta la mitad */
  left: 2%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 1820px;
  height: auto; 
  z-index: 10;
  transition: 0.5s ease;
  border-radius: 12px;
}

.EchoesTexto{
  position: absolute;
  top: 900px;                 /* baja hasta la mitad */
  left: 55%;                /* se coloca desde la mitad */
  transform: translate(0%, 0%); /* corrige en X y Y */
  width: 850px;
  height: auto; 
  mix-blend-mode:luminosity;
  filter:invert(1);
  z-index: 10;
  transition: filter 1.5s ease;
  transition: ease 1s;
}
.EchoesTexto.light{
  filter:invert(0);
}

.Echoes1 {
  position: absolute;
  top: 1090px;
  left: 2%;
  width: 1820px;
  opacity: 1;
  border-radius: 12px;
}
.Echoes2 {
  position: absolute;
  top: 3220px;
  left: 2%;
  width: 1820px;
  opacity: 1;
  border-radius: 12px;
}
.Echoes3 {
  position: absolute;
  top: 5380px;
  left: 2%;
  width: 1820px;
  opacity: 1;
  border-radius: 12px;
}
.Echoes4 {
  position: absolute;
  top: 6450px;
  left: 2%;
  width: 1820px;
  opacity: 1;
  border-radius: 12px;
}

.Nox1 {
  position: absolute;
  top: 7520px;
  left: 2%;
  width: 1820px;
  opacity: 1;
  border-radius: 12px;
}
.Nox2 {
  position: absolute;
  top: 8560px;
  left: 2%;
  width: 1820px;
  opacity: 1;
  border-radius: 12px;
}
.video-container {
  position: absolute;
  top: 8570px;
  left: 4%;
  width: 100%;
  max-width: 870px;  
  margin: 2rem auto; 
  aspect-ratio: 17/9; 
  border-radius: 20px;  
  overflow: hidden;     
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.video-container-echoes {
  position: absolute;
  top: 4260px;
  left: 2%;
  width: 100%;
  max-width: 1780px;   /* tama침o m치ximo del video */
  margin: 2rem auto;  /* centrado con espacio vertical */
  aspect-ratio: 16/9; /* mantiene proporci칩n del video */
  border: 20px solid #f4e9d5; /* marquito sutil */
  border-radius: 12px;    /* esquinas redondeadas */
  overflow: hidden;       /* evita que el iframe sobresalga */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* sombra ligera */
}


.video-container-echoes iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.About-Me{
  position:absolute;
  transform: translate(0%,-0.1%);
  width: 100%;
  height: 9670px;
  z-index: 0;
  background: linear-gradient(135deg, #f5d6eb, #ffd6d6, #ffe5b4, #ffcce0); /* 游녣 solo claro */
  background-size: 100% 100%;
  animation: gradientMove 25s ease infinite;

   transition: background-image 1.5s ease;
}


/* Animaci칩n sutil para darle vida */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/*
.Nox{
  position: absolute;
  top: 9150px;
  left: 25%;
  transform: translate(-15%, 0%);
  width: 1200px;
  height: auto; 
  mix-blend-mode: luminosity;
  filter: invert(1);
  z-index: 10;
  transition: filter 1s ease, transform 1s ease;
}

.Nox.light{
  filter: invert(0);
}

.Nox:hover{
  transform: translate(-15%, -10%) scale(1) rotate(-0.45deg);
}

.NoxTexto{
  position: absolute;
  top: 9870px;              
  left: 5%;             
  transform: translate(0%, 0%); 
  width: 970px;
  height: auto; 
  mix-blend-mode:luminosity;
  filter:invert(1);
  z-index: 10;
  transition: filter 1.5s ease;
  transition: ease 1s;
}
.NoxTexto.light{
  filter:invert(0);
}




.Panoramic{
  position: absolute;
  top: 9400px;
  left: 5%;
  transform: translate(0%, 0%) rotate(0);
  width: 75px;
  height: auto; 
  mix-blend-mode: luminosity;
  filter: invert(1) ;
  z-index: 10;
  transition: filter 1s ease, transform 0.5s ease;
}

.Panoramic.light{
  filter: invert(0);
}

.Panoramic:hover{
  transform: translate(0%, 0%) rotate(360deg);
}


.NoxPoster {
  position: absolute;
  top: 9430px;
  left: 53%;
  width: 810px;
  opacity: 1;
}

.NoxRenders {
  position: absolute;
  top: 10600px;
  left: 0%;
  width: 1920px;
  opacity: 1;
}

.Concept {
  position: absolute;
  top: 10700px;
  left: 60%;
  width: 650px;
  height: auto; 
  mix-blend-mode: luminosity;
  filter: invert(1);
  z-index: 10;
  transition: filter 1s ease, transform 1s ease;
}

.Concept.light{
  filter: invert(0);
}
*/

.site-footer {
  position: fixed;
  bottom: -100px;        /* escondido fuera de la pantalla */
  left: 0;
  width: 100%;
  background: #111;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 16px;
  border-top: 1px solid #444;
  z-index: 10000;
  transition: bottom 0.28s ease, opacity 0.28s ease;
  opacity: 0;
  pointer-events: none;  /* cuando est치 oculto no responde */
}

/* cuando queremos mostrarlo */
.site-footer.visible {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.site-footer .footer-name {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.site-footer .footer-btn {
  color: #fff;
  font-size: 30px;
  background: #222;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.2s, background 0.2s, color 0.2s;
}

.site-footer .footer-btn:hover {
  transform: scale(1.15);
  background: #ce12f3;
  color: #111;
}

